.admin-books-container{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding: 30px;
          align-items: center;
          gap: 20px;
          .book{
                    width: 300px;
                    border-radius: 6px;
                    background-color: var(--clr-primary-4);
                    padding: 10px;
                    .left{
                              display: flex;
                              align-items: center;
                              gap: 10px;
                              img{
                                        height: 60px;
                              }
                              div{
                                        width: 100%;
                                        h4{
                                                  margin: 5px;
                                                  color: var(--clr-white);
                                                  &.download{
                                                            cursor: pointer;
                                                            font-family: var(--roboto);
                                                            svg{
                                                                      position: relative;
                                                                      top: 2px;
                                                            }
                                                  }
                                        }
                              }
                              
                    }
          }
}